.fandom_container {
    width: 100%;
    padding: 1em;
}

.fandom_link,
.fandom_link a {
    font-weight: bold;
    color: #000000;
}

.fandom_link a:hover {
    font-weight: bold;
    color: #990000;
}