.story_card {
    display: flex;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: small;
    padding-bottom: 1em;
    padding-left: 0.5em;
}

.header_format {
    padding-left: 0em;
}

.story_card:hover {
    background-color: #c8c8c8;
}

.story_card p {
    margin: 0.5em 0;
}

.story_card a {
    font-weight: bold;
    color: #000000;
}

.story_card a:hover {
    color: #990000;
}

.story_card_image {
    display: flex;
    align-items: center;
    width: 100px;
    height: 120px;
    border: 1px solid gray;
    margin-top: 0.5em;
    margin-right: 0.5em;
}
.story_card_stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.story_card_stats a,
.story_card_stats span {
    margin-right: 2em;
}